/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";

body {
  font-size: 18px;
  line-height: 1.58;
  background: #f5f5ed;
  background: -webkit-linear-gradient(to left, #ffc4dd, #f5f5ed);
  background: linear-gradient(to left, #ffc4dd, #f5f5ed); 
  color: #333;
}